
QuanlyKhohang/.vs/QuanlyKhohang/v16/.suo
QuanlyKhohang/.vs/QuanlyKhohang/v16/.suo
QuanlyKhohang/.vs/QuanlyKhohang/v16/Server/sqlite3/storage.ide-shm
QuanlyKhohang/.vs/QuanlyKhohang/v16/Server/sqlite3/storage.ide-wal
QuanlyKhohang/.vs/QuanlyKhohang/v16/.suo
QuanlyKhohang/.vs/QuanlyKhohang/v16/.suo
QuanlyKhohang/QuanlyKhohang/obj/Debug/QuanlyKhohang.csprojAssemblyReference.cache
QuanlyKhohang/QuanlyKhohang/obj/Debug/QuanlyKhohang.csproj.GenerateResource.cache
QuanlyKhohang/QuanlyKhohang/obj/Debug/QuanlyKhohang.csproj.FileListAbsolute.txt
QuanlyKhohang/QuanlyKhohang/obj/Debug/QuanlyKhohang.exe
QuanlyKhohang/QuanlyKhohang/obj/Debug/QuanlyKhohang.pdb
